

.container {
    margin-bottom: 50px
}

.pink-bg {
    background-color: #fceae8;
    border-radius: 20px;
}

.carousel-item {
    padding: 20px 40px;
}

.price {
    color: #ff136f;
}

.buy-now-button {
    background-image: linear-gradient(to bottom, #ff589b, #ff136f);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 9px 25px;
    cursor: pointer;
    display: flex;
    align-items: flex-end;
}

.cat-1 {
    background-color: orange;
}

.cat-2 {
    background-color: orchid;
}

.cat-3 {
    background-color: blue;
}

.cat-1, .cat-2, .cat-3 {
    color: white;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
}

.catagories img {
    width: 100px;
}

.card {
    border: none;
    box-shadow: 5px 5px 15px lightgrey;
    border-radius: 50%;
}